$default-font-color: #ffffff;
$background-color: #040c26;
$container-bgcolor: #22223d;
$container-bordercolor: #010101;
$textbox-bordercolor: #010101;
$button-textcolor: #fffffe;
$add-button-color: #2cb67d;
$clear-button-color: #eb2121;

@mixin mq($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: $default-font-color;
  width: 100%;
  min-height: 100%;
  @include mq(768px) {
    font-size: 22px;
  }
}

body {
  padding: 20px;
  background-color: $background-color;
}

section {
  background-color: $container-bgcolor;
  width: 90%;
  max-width: 700px;
  margin: auto;
  border: 1px solid $container-bordercolor;
  border-radius: 10px;
}
